.App {
  text-align: center;
  background-color: #FDF6F0;
  height: 100%;
}

body{
  margin: 0px;
  background-color: #FDF6F0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root{
  height: max-content;
  background-color: #FDF6F0;
}

.row2 .cell2:nth-child(1) {
  width: 200px;
  padding-left: 40px;
}

.row2 .cell2:nth-child(2) {
  width: 400px;
}

.row2 .cell2:nth-child(3) {
  width: 400px;
}


.row2:hover {
  background-color: #9aa1ff;
}

.row2.header2 {
  color: #ffffff;
  background: #7980eb;
}


/* .body{
  background-color: #FDF6F0;
  height: 100%
} */